JWT_SECRET=REPLACE_ME
CITYQ_INTERNAL_KEY=REPLACE_ME

ERPNEXT_API_KEY=REPLACE_ME
ERPNEXT_API_SECRET=REPLACE_ME

AUTHQ_GOOGLE_CLIENT_ID=REPLACE_ME
AUTHQ_GOOGLE_CLIENT_SECRET=REPLACE_ME
AUTHQ_ZOHO_CLIENT_ID=REPLACE_ME
AUTHQ_ZOHO_CLIENT_SECRET=REPLACE_ME

RABBITMQ_DEFAULT_USER=erpq
RABBITMQ_DEFAULT_PASS=REPLACE_ME

